build_pipeline/__pycache__/FastaIO.cpython-38.pyc
build_pipeline/__pycache__/FastaIO.cpython-38.pyc
build_pipeline/__pycache__/FastaIO.cpython-38.pyc
.ipynb_checkpoints/Compose New Segments-checkpoint.ipynb
build_pipeline/__pycache__/FastaIO.cpython-38.pyc
build_pipeline/__pycache__/FastaIO.cpython-38.pyc
